$theme-color: #00fff6;
$text-color: #a2a8ba;
$bg-color: #0b0c0d;
$assetPath: '~src/assets/images/';
$logo-img: '#{$assetPath}logo.png';
$match-bg: #15171a;
$white-color: #fff;
$border-color: rgba(#969baf, .2);
$icon-color: #7b7c80;